* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #011a24;
  --secondColor: #022d3a;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: var(--primaryColor);
  display: flex;
}

.clock {
  width: 350px;
  height: 350px;
  margin: auto;
  background-image: url("clock.png");
  background-color: var(--secondColor);
  background-size: contain;
  background-position: center;
  border: 4px solid var(--secondColor);
  border-radius: 50%;
  box-shadow: 0 15px 15px rgba(255, 255, 255, 0.05),
    inset 0 -15px 15px rgba(255, 255, 255, 0.05),
    0 -15px 15px rgba(0, 0, 0, 0.3), inset 0 15px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(192, 191, 191);
  position: absolute;
  z-index: 10;
}
.hour {
  width: 8px;
  height: 160px;
  z-index: 1;
}
.min {
  width: 6px;
  height: 200px;
  z-index: 2;
}
.sec {
  width: 2px;
  height: 240px;
  z-index: 3;
}
.hour,
.min,
.sec {
  position: absolute;
  overflow: hidden;
}

.hour::before,
.min::before,
.sec::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: red;
}
.hour::before {
  border-radius: 8px;
  background-color: tomato;
}
.min::before {
  border-radius: 6px;
  background-color: turquoise;
}
.sec::before {
  border-radius: 2px;
  bottom: 35%;
  background-color: wheat;
}

